
@media (max-width: 375px) {
  .bottomBtn,
  .wrap {
    max-width: 375px;
  }
}
@media (min-width: 376px) and (max-width: 390px) {
  .bottomBtn,
  .wrap {
    width: 390px;
  }
}
@media (min-width: 391px) {
  .bottomBtn,
  .wrap {
    width: 412px;
  }
}

.startBtn {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 1rem;
  background-color: #6CA4AA;
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  box-shadow: 3px 5px 6px #01010137;
  transition: background-color 0.3s ease-in-out;
}

.startBtn:hover {
  background-color: #63969c;
}

.bottomBtn {
  height: 60px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #f6d676f0;
  border: #F6D776 solid 2px;
  color: #000;
  position: fixed;
  bottom: 0;
  
  /* left: 0; */
  /* transform: translateY(0%);
  transition: all 0.5s ease-in-out; */
}
.bottomBtn:hover {
  background-color: #dabd66;
}

.startBtn .nexticon,
.bottomBtn .nexticon {
  width: 1rem;
  height: 1rem;
  margin-left: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.startBtn .nexticon {
  background-image: url('../../../../public/svgs/nextIcon.svg');

}
.bottomBtn .nexticon {
  background-image: url('../../../../public/svgs/nextIcon_2.svg');

}


.answerBtn {
  width: 80%;
  min-height: 70px;
  font-size: 0.9rem;
  background-color: #F6D776;
  border-radius: 1rem;
  padding: 25px 15px;
  text-align: center;
  user-select: none;
  color: #333;
  transition: background-color 0.1s ease-in-out;
}

.backBtn {
  width: 30%;
  max-width: 400px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 13px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #a4d9e4;
  color: white;
}
.backBtn div {
  width: 1rem;
  height: 1rem;
  background-image: url('../../../../public/svgs/leftArrowIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* 더 보기 */
.moreBtn {
  width: 100%;
  height: 45px;
  padding: 7px;
  align-items: center;
  color: #777;
  font-size: 0.9rem;
  background-color: #fff;
  border-radius: 1rem;
  border-bottom: 1.5px solid #ddd;
}
.moreBtn .moreIcon {
  width: 1rem;
  height: 1rem;
  margin: auto;
  background-image: url('../../../../public/svgs/seeMoreIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
