@media (max-width: 375px) {
  .wrap {
    width: 100%;
    max-width: 345px;
  }
}

@media (min-width: 376px) {
  .wrap {
    width: 100%;
    max-width: 370px;
  }
}

.startBtn {
  height: 2.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 1rem;
  background-color: #ffc52f;
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  transition: background-color 0.3s ease-in-out;
}

.startBtn:hover {
  background-color: #f8b713;
}

.bottomBtn {
  width: 100%;
  max-width: 400px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #ffc52f;
  color: white;
  position: fixed;
  bottom: 0;
  /* left: 0; */
  /* transform: translateY(0%);
  transition: all 0.5s ease-in-out; */
}
.bottomBtn:hover {
  background-color: #f8b713;
}

.startBtn .nexticon,
.bottomBtn .nexticon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background-image: url('../../../../public/svgs/nextIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.answerBtn {
  width: 70%;
  height: 70px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  padding: 20px 0 20px 0;
  text-align: center;
  user-select: none;
  transition: background-color 0.1s ease-in-out;
  padding: 20px;
}

.backBtn {
  width: 30%;
  max-width: 400px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 13px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #a4d9e4;
  color: white;
}
.backBtn div {
  width: 1rem;
  height: 1rem;
  background-image: url('../../../../public/svgs/leftArrowIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* 더 보기 */
.moreBtn {
  width: 80px;
  height: 40px;
  display: flex;
  padding: 7px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #777;
  font-size: 0.9rem;
  background-color: #efe7d1;
  border-radius: 1rem;
}
.moreBtn .moreIcon {
  width: 1rem;
  height: 0.5rem;
  margin: auto;
  background-image: url('../../../../public/svgs/seeMoreIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
