.headerWrap {
  width: 410px;
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #001529;
  border-radius: 0 0 10px 10px;
}

.linkWrap {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkWrap a {
  color: #ddd;
  display: flex;
  align-items: center;
}

.linkIcon {
  width: 18px;
  height: 15px;
  margin: 2px 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../../public/svgs/link.svg");
}

.userWrap {
  width: 200px;
  height: 100%;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userWrap p {
  max-width: 120px;
  height: 25px;
  color: #ddd;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  justify-content: right;
}
.sp_1 {
  color: #E11D1D;
}
.sp_2 {
  color: #ddd;
  font-size: 12px;
  margin-left: 5px;
}

.logoutBtn {
  width: 25px;
  height: 25px;
  border-radius: 0.3rem;
  background-color: #515b76;
}

.logoutImg {
  width: 18px;
  height: 16px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-image: url('../../../public/svgs/logOutIcon.svg');
}
