@media (max-width: 375px) {
  .medium {
    max-width: 157px;
  }
  .large {
    max-width: 327px;
    max-height: 210px;
  }
}
@media (min-width: 376px) {
  .medium {
    min-width: 170px;
  }
  .large {
    min-width: 350px;
  }
}

/* 테스트 카드 */
.testCade {
  overflow: hidden;
}
.testCade span {
  position: absolute;
}
.testCade img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testImg {
  overflow: hidden;
}
.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: 0;
}

/* 사이즈별 */
.small {
  width: 110px;
  height: 90px;
  position: relative;
}
.small .testImg {
  height: 71px;
  border-radius: 0.5rem;
}
.small > span {
  font-size: 0.75rem;
  padding: 0 4px;
}
.small .iconBox {
  display: none;
}

.medium {
  width: 170px;
  height: 140px;
  position: relative;
}
.medium .testImg {
  height: 114px;
  border-radius: 1rem;
}
.medium > span {
  font-size: 0.8rem;
  padding: 0 5px;
  color: #333;
  left: 0;
}
.medium .iconBox {
  bottom: 32px;
  right: 7px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff7dcda;
  padding: 0 5px 0 2px;
  border-radius: 1rem;
}
.medium .iconBox div {
  width: 1rem;
  height: 1rem;
  background-image: url('../../../../public/svgs/playCnt.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.medium .iconBox p {
  font-size: 0.8rem;
  color: #78797f;
  margin-left: 2px;
}

.large {
  width: 350px;
  height: 227px;
  position: relative;
  border-radius: 1rem;
}
.large .testImg {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
}
.large span {
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  padding-left: 20px;
  border-radius: 0 0 1rem 1rem;
  color: #fff;
  background-color: #1f3133a0;
}
.large .iconBox {
  display: none;
}

/* 마이페이지 결과카드 */
.myTestCadeWrap {
  width: 340px;
  height: 200px;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #647E87;
}
.myTestCade {
  display: flex;
}
.myTestCadeWrap img {
  width: 35%;
  height: 200px;
  object-fit:cover;
}
.myTestCadeWrap div {
  width: 60%;
}
.textWrp {
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  padding: 8px;
}
.textWrp span {
  font-weight: 500;
  /* height: 40px; */
  font-size: 0.9rem;
  margin-bottom: 7px;
  padding-bottom: 2px;
  border-bottom: 0.9px solid #ccc;
  /* white-space: nowrap; */
}
.textWrp p {
  font-size: 0.8rem;
  font-weight: 300;
  overflow-wrap: break-word;
  color: #666;
  /* word-wrap: break-word; */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
