.headerWrap {
  /* min-width: 500px; */
  position: relative;
}
.headerBox {
  position: absolute;
  right: 10px;
}
.logoWrap {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100px; */
  position: absolute;
  left: 0;
  background-color: #424444;
}
