@media (max-width: 375px) {
  .wrap {
    max-width: 375px;
  }
}
@media (min-width: 376px) and (max-width: 390px) {
  .wrap {
    min-width: 390px;
  }
}
@media (min-width: 391px) {
  .wrap {
    width: 412px;
  }
}
.wrap {
  padding: 10px 25px 60px 25px;
  overflow-x: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
