@media (max-width: 375px) {
  .wrap {
    width: 375px;
  }
  /* .footerWrap {
    width: 375px;
  }
  .content {
    width: 375px;
  } */
}
@media (max-width: 375px) {
  .wrap {
    max-width: 375px;
  }
}
@media (min-width: 376px) and (max-width: 390px) {
  .wrap {
    min-width: 390px;
  }
}
@media (min-width: 391px) {
  .wrap {
    width: 412px;
  }
}

.wrap {
  margin: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.content {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
