.contentsWrap {
  display: flex;
  flex-wrap: wrap;
}
.resultWrap {
  max-width: 450px;
  width: 100%;
  margin: auto;
  gap: 20px;
  color: #444;
}
.resultTitle {
  text-align: center;
  font-size: 18px;
  color: #444;
  margin: 30px 0 20px;
}
