@media (max-width: 375px) {
  .wrap {
    max-width: 375px;
  }
}

@media (min-width: 376px) and (max-width: 390px) {
  .wrap {
    width: 390px;
  }
}
@media (min-width: 391px) {
  .wrap {
    width: 412px;
  }
}

.wrap {
  z-index: 1;
  margin: auto;
}

.headerWrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.mypageWrap,
.meunWrap {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
/* 로고 있을때 사용 예정 */
/* .logoWrap {
  display: flex;
  flex-direction: row;
  padding: 0 30px 0 30px;
  cursor: pointer;
} */
.logoTitle {
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  /* padding: 0 30px 0 30px; */
  cursor: pointer;
  color: #647E87;
  text-shadow: 5px 5px 5px #ccc;
}

/* .logoIcon, */
/* .logoTitle, */
.menuIcon,
.myPageIcon,
.loginIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* ICON */
/* .logoIcon {
  width: 5rem;
  height: 5.5rem;
  background-image: url('../../../../public/svgs/logo_dog.svg');
} */

/* .logoTitle {
  width: 7rem;
  height: 5.7rem;
  background-image: url('../../../../public/svgs/logo_title.svg');
} */

.menuIcon {
  width: 1.3rem;
  height: 1.3rem;
  background-image: url('../../../../public/svgs/menuIcon.svg');
}
.myPageIcon {
  width: 1.4rem;
  height: 1.4rem;
  margin: auto;
  border-radius: 50%;
  background-image: url('../../../../public/svgs/mypage.svg');
}
.loginIcon {
  width: 1.3rem;
  height: 1.3rem;
  margin: auto;
  margin-top: 50%;
  transform: translateY(-50%);
  border-style: none;
  background-image: url('../../../../public/svgs/user.svg');
}
