@media (max-width: 375px) {
  .wrap {
    max-width: 375px;
  }
}
@media (min-width: 376px) and (max-width: 390px) {
  .wrap {
    min-width: 390px;
  }
}
@media (min-width: 391px) {
  .wrap {
    width: 412px;
  }
}
.wrap {
  height: 100%;
  height: 600px;
  margin: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadImg {
  width: 250px;
  height: 250px;
  margin-top: -150px;
}
.wrap p {
  font-size: 1.5rem;
  color: #999;
}
