/* 테스트 카드 */
.testCade {
  overflow: hidden;
}
.testCade span {
  position: absolute;
}
.testCade img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.child {
  overflow: hidden;
}
.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: 0;
}

/* 사이즈별 */
.small {
  width: 110px;
  height: 90px;
  position: relative;
}
.small .child {
  height: 71px;
  border-radius: 0.5rem;
}
.small > span {
  font-size: 0.75rem;
  padding: 0 4px;
}
.small .iconBox {
  display: none;
}

.medium {
  width: 170px;
  height: 140px;
  position: relative;
}
.medium .child {
  height: 114px;
  border-radius: 1rem;
}
.medium > span {
  font-size: 0.9rem;
  padding: 0 5px;
}
.medium .iconBox {
  bottom: 32px;
  right: 7px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff9a;
  padding: 0 5px 0 2px;
  border-radius: 1rem;
}
.medium .iconBox div {
  width: 1rem;
  height: 1rem;
  background-image: url('../../../../public/svgs/playCnt.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.medium .iconBox p {
  font-size: 0.8rem;
  color: #666;
  margin-left: 2px;
}

.large {
  width: 350px;
  height: 227px;
  position: relative;
  border-radius: 1rem;
}
.large .child {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
}
.large span {
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  padding-left: 20px;
  border-radius: 0 0 1rem 1rem;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.large .iconBox {
  display: none;
}

/* 마이페이지 결과카드 */
.myTestCadeWrap {
  width: 300px;
  height: 200px;
  border-radius: 1rem;
  overflow: hidden;
  border: #aaa solid 1.5px;
}
.myTestCade {
  display: flex;
}
.myTestCadeWrap div {
  width: 50%;
}
.textWrp {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px;
}
.textWrp span {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 5px;
  white-space: nowrap;

}
.textWrp p {
  font-size: 0.9rem;
  font-weight: 300;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
