@media (max-width: 375px) {
  .modalWrap {
    width: 180px;
    left: calc(50% - 400px);
  }

  .modalMoveToRight {
    left: calc(50% - 190px);
  }
}

@media (min-width: 376px) {
  .modalWrap {
    width: 200px;
    left: calc(50% - 400px);
  }

  .modalMoveToRight {
    left: calc(50% - 200px);
  }
}
/* 모달 */
.modalWrap {
  height: 100%;
  border: 1px solid rgb(242, 242, 242);
  background-color: white;
  position: fixed;
  z-index :50;
  top: -1px;
  transition: all 0.3s ease-in-out;
}
.hideModal {
  width: 300px;
  height: 100%;
  position: fixed;
  left: calc(50% - 500px);
  top: -1px;
  z-index: 60;
  background-color: #f4f4f4;
}
.modalBackground {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 40;
  background-color: black;
  position: fixed;
}

/* ul */
.menuUlWrap {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.display_none {
  display: none;
}
.ulWrap {
  font-weight: bold;
  margin: 10px 0 25px 0;
}
.ulWrap > p {
  height: 35px;
  margin: auto;
  text-align: center;
  line-height: 35px;
  background-color: #6CA4AA;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}
.ulWrap li {
  margin: auto;
  width: 90%;
  /* padding: 4px 0; */
  /* border-bottom: #647E87 dotted 1px; */
  margin-bottom: 15px;
  /* background-color: #fff7ea; */
  /* border-radius: 1rem; */
  /* margin: 10px 15px; */
}
.ulWrap li p{
  font-weight: normal;
  text-align: center;
  color: #444;
  font-size: 0.9rem;
}

.ulWrap > ul:last-child {
  position: relative;
}

.logOutWrap {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.logOut {
  width: 100%;
  display: flex;
  color: #888;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
}
.logOutWrap > p {
  padding-left: 5px;
}

/* ICON */
.logoIcon,
.logOutIcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logoIcon {
  width: 5rem;
  height: 5.5rem;
  margin: auto;
  background-image: url('../../../../public/svgs/logo_dog.svg');
}

.logOutIcon {
  width: 20px;
  height: 22px;
  background-image: url('../../../../public/svgs/logOutIcon.svg');
}
