@media (max-width: 375px) {
  .wrap {
    max-width: 375px;
  }
}
@media (min-width: 376px) {
  .wrap {
    min-width: 400px;
  }
}

.wrap {
  width: 375px;
  height: 60px;
  margin: auto;
  background-color: #fff;
}
.contentsWrap {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 15px 15px 0 0;
  background-color: #6ca4aa;
}
.wrap p {
  font-size: 0.7rem;
  color: #fff;
}

.under {
  width: 100%;
  position: absolute;
  bottom: 13px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
}
.iconBox {
  width: 45px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}

.under a {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.gitHubIcon a {
  background-image: url('../../../../public/svgs/gitHub.svg');
}

.instagramIcon a {
  background-image: url('../../../../public/svgs/instagram.svg');
}

.docs {
  width: 40%;
  position: absolute;
  bottom: 30px;
  right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
