@media (max-width: 375px) {
  .wrap {
    width: 100%;
    max-width: 345px;
  }
}
@media (min-width: 376px) {
  .wrap {
    width: 100%;
    max-width: 370px;
  }
}

.wrap {
  color: #979797;
  font-size: 0.7rem;
  background-color: white;
  margin-top: 10px;
}

.upper > p:first-child {
  margin-bottom: 2px;
}

.under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.under > p {
  margin-bottom: 5px;
  position: absolute;
  bottom: -10px;
  right: 0;
}

.under > div:first-child {
  display: flex;
  flex-direction: row;
}

.under .gitHub {
  margin-right: 8px;
}

.under .gitHub > a {
  background-image: url('../../../public/images/footer/gitHub.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.under .instagram > a {
  background-image: url('../../../public/images/footer/instagram.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.docs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px 0 -5px 0;
}

.docs > span:first-child {
  margin-right: 10px;
}

.docs p {
  color: #979797;
}
