.questionBoxWarp {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
}
.titleBox {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.questionBox {
  display: flex;
  background-color: #002140;
  border-radius: 0.7rem;
  overflow: hidden;
}
.questionWarp {
  width: 45%;
}
.answerWarp {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
