.wrap {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.questionTitle {
  text-align: center;
  font-size: 18px;
  color: #444;
  margin-top: 20px;
}
.questionWarp {
  color: #fff;
  font-size: 12px;
  margin-top: 35px;
  position: relative;
}

.questionBoxesWarp {
  height: 480px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.questionName {
  width: 50px;
  height: 25px;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  top: -10px;
  left: 20px;
  position: absolute;
  border-radius: 0.4rem;
  background-color: #001529;
}